/* Top */

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons');


[v-cloak],
.hide {
    display: none !important;
}

.show-menu {
    right: 0 !important;
}

* {
    box-sizing: border-box;
    transition: font-size 0
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 80px 0 0 0;
    background-color: whitesmoke;
}

h2, h3, h4, h5, h6 {
    font-family: 'Gruppo', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

h2 {
    font-size: calc(1rem * 112%);
}

h3 {
    font-size: calc(1rem * 125%);
}

div.content {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: first;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

div.resume-heading {
    width: 100%;
    margin: 0 0 2rem 0;
    background-color: white;
    box-shadow: 0 2px 4px #0b171780;
    /* color: white; */
    /* background-color: #0b1717; */
    background-image: linear-gradient(transparent, transparent 72%, white 90%, Gainsboro 94%, Gainsboro), repeating-linear-gradient(-45deg, white, white 2px, whitesmoke 2px, whitesmoke 4px);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9001;
}

div.resume-heading h1 {
    margin: 0.75rem 1rem 1.25rem 1rem;
    padding: 0;
}

ul {
    font-size: 0.9rem;
}

div.resume-block {
    margin: 0 1.5rem 0.5rem 1.5rem;
    padding: 0;
    /* width: 25rem; */
    transition: 400ms;
    background-color: transparent;
}

.sttng-banner {
    padding: 0.25rem 0.85rem 0.4rem 0.7rem;
    border-radius: 5px;
    color: white;
    background-color: #0b1717;
    background-image: linear-gradient(transparent, transparent 72%, #eeeeee30 90%, #00000030 94%, #00000060),
        repeating-linear-gradient(-45deg, black, black 2px,  #1b2727 2px,  #1b2727 4px);
    box-shadow: 0 2px 2px #0b171780;
    min-width: calc(100% / 3);
}

div.card {
    margin: 0 0 0.25rem auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: space-around;
    align-items: first baseline;
    transition: ease-out 400ms;
    /* border: 1px solid #afafaf; */
    cursor: pointer;
}

/* div.card ul,
div.card div {
}

div.card:focus-within ul,
div.card:focus-within div {
} */

.resume-block + .resume-block {
    margin-top: 1.5rem;
    border-right: none;
}

.resume-block + .resume-block .sttng-banner {
    background-color: royalblue;
}

/* .resume-block + .resume-block .card {
    background-color: rebeccapurple;
} */

h3 span::before {
    content: '\2503';
    font-weight: bolder;
    margin: 0 0.5rem 0 0;
}

.card:hover h3 span::before {
    color: #99FF00;
}

.card:active .sttng-banner {
    background-color: #532e0f;
    background-image: linear-gradient(transparent, transparent 72%, #eeeeee30 90%, #00000030 94%, #00000060),
        repeating-linear-gradient(-45deg, #092930, #092930 2px,  #0f4753 2px,  #0f4753 4px);
    box-shadow: 0 1px 2px #0b171780;
    transform: translateY(1px);
}

.card:hover .sttng-banner *:before, .card:focus .sttng-banner *:before {
    transform: translateY(-1px);
    filter: drop-shadow(0 0 2px #99FF00);
}

div.card ul, div.card dl {
    margin: 0;
}

.resume-block h2 {
    margin: 0 auto 5px auto;
}

.all-caps {
    font-variant: small-caps;
}

.display-font {
    font-family: 'Gruppo', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 600;
    flex-grow: 1;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: right 400ms
}

.resume-heading * {
    text-decoration: none;
    list-style: none;
}

.resume-heading nav ul {
    display: flex;
    justify-content: space-evenly;
}
.resume-heading div {
    display: flex;
    justify-content: center;
}

.resume-heading nav button {
    /* color: white; */
    font-family: 'Gruppo', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 900;
    font-size: 1rem;
}

nav .selected {
    filter: brightness(0.8);
}

.selected:before {
    content: '<';
}

.selected:after {
    content: '>';
}

a.nav-btn {
    margin: auto 5px;
}

.nav-btn.mobile {
    display: none;
}

.fancy-menu {
    border: 6px solid;
    border-image: linear-gradient(#000,#fff 20px, #000 20px) 6;
    border-image: url('./img/tile.png') 6 / 10px round;
    padding: 0.25rem 1rem 1.5rem 1rem;
    box-shadow: 0 0 10px 5px darkgray inset,0 0 1px 1px white,5px 5px 5px black;
}

@media screen and (max-width: 991.98px) {
    html {
        font-size: 30px;
    }

    body {
        transition: padding 0;
        padding-top: 120px;
    }

    div.resume-heading h1 {
        margin: 1rem 0.75rem;
        padding: 0;
        font-size: 0.75rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    h3 {
        font-size: 0.6rem;
    }

    ul,
    dl {
        font-size: 0.5rem;
    }

    .resume-heading nav * {
        font-size: 0.6rem !important;
    }

    .nav-btn.mobile {
        display: block;
    }

    nav {
        bottom: -105px;
        right: -350px;
        position: absolute;
        background-color: rgba(245, 245, 245, 0.9);
        border-radius: 5px;
    }

    .sttng-banner {
        padding: 0.25rem 0.65rem 0.4rem 0.5rem;
        min-width: calc(100% / 2);
    }

    .resume-heading nav ul {
        display: block;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 575.98px) {

}

/*
***** min-width *****

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

***** max-width *****

@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

*/