/* Top */

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans|Oswald|Material+Icons');


[v-cloak] {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

h2 {
    font-size: calc(1em * 112%);
}

h3 {
    font-size: calc(1em * 125%);
}

div.content {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: first;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
}

div.resume-heading {
    margin: 0 0 2rem 0;
    background-color: #0b1717;
    box-shadow: 0 2px 4px #0b171780;
    color: white;
    display: flex;
    justify-content: space-between;
}

div.resume-heading h1 {
    margin: 1rem;
    padding: 0;
}

ul {
    font-size: 0.9rem;
}

div.resume-block {
    margin: 0 1.5rem 0.5rem 1.5rem;
    padding: 0;
    /* width: 25rem; */
    transition: 400ms;
    transition-delay: 400ms;
    background-color: transparent;
}

.sttng-banner {
    padding: 0.175rem 0.5rem;
    border-radius: 5px;
    color: white;
    background-color: #0b1717;
    background-image: linear-gradient(transparent, transparent 72%, #eeeeee30 90%, #00000030 94%, #00000060),
        repeating-linear-gradient(-45deg, black, black 2px,  #1b2727 2px,  #1b2727 4px);
    box-shadow: 0 2px 2px #0b171780;
}

div.card {
    margin: 0 0 0.25rem auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: space-around;
    align-items: first baseline;
    transition: 400ms;
    /* border: 1px solid #afafaf; */
    cursor: pointer;
}

div.card ul,
div.card div {
    height: 0;
    overflow: hidden;
}

div.card:focus-within ul,
div.card:focus-within div {
    height: auto;
}

.resume-block + .resume-block {
    margin-top: 1.5rem;
    border-right: none;
}

.resume-block + .resume-block .sttng-banner {
    border-radius: 0 5px 5px 0;
}

.resume-block + .resume-block .card {
}

.card:hover .sttng-banner, .card:focus .sttng-banner {
    background-color: #532e0f;
    background-image: linear-gradient(transparent, transparent 72%, #eeeeee30 90%, #00000030 94%, #00000060),
        repeating-linear-gradient(-45deg, #092930, #092930 2px,  #0f4753 2px,  #0f4753 4px);
    box-shadow: 0 1px 2px #0b171780;
    transform: translateY(1px);
}

.card:hover .sttng-banner *, .card:focus .sttng-banner * {
    filter: drop-shadow(0 0 2px #ffffff88);
}

div.card ul, div.card dl {
    margin: 0;
}

.resume-block h2 {
    margin: 0 auto 5px auto;
}

.all-caps {
    font-variant: small-caps;
}

.anton {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 400;
}

.display-font {
    font-family: 'Bangers', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

a.print-btn {
    margin: auto 5px;
}

a.print-btn button {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 56.25rem) {

}

@media screen and (max-width: 37.5rem) {

}