<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edge">
        <title>Ronald La Belle - Curiculum Vitae</title>
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">
        <meta name="robots" content="index, follow">
        <link href="./css/cur-vit.css" rel="stylesheet">
        <meta property="og:type" content="website">
        <!-- <meta property="og:image" content="./social-image.jpg"> -->
        <meta property="og:site_name" content="Ronald La Belle: Curiculum Vitae">
    </head>
    <body>
        <div id="resume-heading" class="resume-heading">
            <h1 class="display-font">Ronald La Belle</h1>
            <nav>
                <ul>
                    <li>
                        <a class="nav-btn desktop" href="./index.html"><button>Resume</button></a>
                    </li>
                    <li>
                        <a class="selected nav-btn desktop" href="#"><button>Curiculum Vitae</button></a>
                    </li>
                    <li>
                        <a class="nav-btn desktop" href="#"><button disabled>Programming</button></a>
                    </li>
                    <li>
                        <a class="nav-btn desktop" href="#"><button disabled>Blog</button></a>
                    </li>
                </ul>
            </nav>
            <a class="nav-btn" href="./data/Ronald-LaBelle-Resume-2019.PDF">
                <button class="material-icons" style="float:right;">print</button>
            </a>
            <a class="nav-btn mobile" href="#">
                <button id="mobile-menu" class="material-icons" style="float:right;">menu</button>
            </a>
        </div>
        <div class="content">
            <div id="resume-curiculum-vitae" class="resume-block" v-cloak>
                <!-- <h2 class="sttng-banner">{{ message }}</h2> -->
                <div v-for="(card, index) in cards" :id="'cv-id-' + index" class="card" tabindex="0">
                    <!-- :id="resume-overview-card-(index)" -->
                    <h3 class="sttng-banner"><span>{{card.title}}</span></h3>
                    <ul>
                        <component v-for="(item,index) in card.list" :key="index" :is="item.type" :item="item.entry" :heading="item.heading"></component>
                    </ul>
                </div>
            </div>
        </div>
        &nbsp;
        &nbsp;
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="./js/cur-vit.js"></script>
</html>